.title h1 {
    color: #eeeeeed0;
    text-shadow: 10px 10px 10px #000000d0;
    text-align: left;
    width: 100%;
    font-size: 5ex;
    margin-top: 20%;
    margin-bottom: 0;
    padding: 0;
}

.title h2 {
    color: #eeeeeed0;
    text-shadow: 10px 10px 10px #000000d0;

    margin-top: 10%;
    text-align: left;
    width: 100%;
    font-size: 3ex;
}

.title h3 {
    color: #eeeeeed0;
    text-shadow: 10px 10px 10px #000000d0;
    margin-top: 0%;
    text-align: left;
    width: 100%;
    font-size: 2ex;
}

.title .inset {
    border-left: solid;
    border-width: 5px;
    border-color: #ffCCAA;
    padding-left: 20px;
}

.content h2 {
    text-align: left;
    text-shadow: 10px 10px 10px #00000060;
    transform: rotate(-5deg);
    margin-bottom: 70px;
    font-size: 3ex;
}

.content h3 {
    text-align: left;
    text-shadow: 10px 10px 10px #00000060;
    transform: rotate(-5deg);
    margin-top: -70px;
    margin-bottom: 70px;
    font-size: 2ex;
    margin-left: 20px;
}

.content ul li ul {
    font-size: 1.7ex;
}

.content p {
    text-align: left;
}

.content ul {
    display: block;
}

.content pre {
    width: 100%;
    margin: 0;
}
.content code {
    overflow: hidden;
}

.full_screen_diagram h2 {
    color: black;
    text-align: left;
    font-size: 3ex;
    text-shadow: 10px 10px 10px #00000060;
}

.full_screen_diagram hr {
    display: none;
}

.content .container {
    display: flex;
}

.content .col {
    flex: 1;
}

.col {
    font-size: 2ex;
}
